/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"
    "reflect"

    "tiktokshop/open/sdk_golang/models/order/v202309"
)


// OrderV202309APIService OrderV202309API service
type OrderV202309APIService service

type ApiOrder202309OrdersGetRequest struct {
    ctx context.Context
    ApiService *OrderV202309APIService
    ids *[]string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
}

// A list of TikTok Shop order ID values. Max count: 50
func (r ApiOrder202309OrdersGetRequest) Ids(ids []string) ApiOrder202309OrdersGetRequest {
    r.ids = &ids
    return r
}
// 
func (r ApiOrder202309OrdersGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiOrder202309OrdersGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiOrder202309OrdersGetRequest) ContentType(contentType string) ApiOrder202309OrdersGetRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiOrder202309OrdersGetRequest) ShopCipher(shopCipher string) ApiOrder202309OrdersGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiOrder202309OrdersGetRequest) Execute() (*order_v202309.Order202309GetOrderDetailResponse, *http.Response, error) {
    return r.ApiService.Order202309OrdersGetExecute(r)
}

/*
Order202309OrdersGet GetOrderDetail
Get the detailed order information of an order, including important attributes such as order status, shipping addresses, payment details, price and tax info, and package information.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiOrder202309OrdersGetRequest
*/
func (a *OrderV202309APIService) Order202309OrdersGet(ctx context.Context) ApiOrder202309OrdersGetRequest {
    return ApiOrder202309OrdersGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Order202309GetOrderDetailResponse
func (a *OrderV202309APIService) Order202309OrdersGetExecute(r ApiOrder202309OrdersGetRequest) (*order_v202309.Order202309GetOrderDetailResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *order_v202309.Order202309GetOrderDetailResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderV202309APIService.Order202309OrdersGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/order/202309/orders"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.ids == nil {
        return localVarReturnValue, nil, reportError("ids is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    {
        t := *r.ids
        if reflect.TypeOf(t).Kind() == reflect.Slice {
            s := reflect.ValueOf(t)
            for i := 0; i < s.Len(); i++ {
                parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "multi")
            }
        } else {
            parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "multi")
        }
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrder202309OrdersSearchPostRequest struct {
    ctx context.Context
    ApiService *OrderV202309APIService
    pageSize *int32
    xTtsAccessToken *string
    contentType *string
    sortOrder *string
    pageToken *string
    sortField *string
    shopCipher *string
    order202309GetOrderListRequestBody *order_v202309.Order202309GetOrderListRequestBody
}

// The number of results to be returned per page. Default: 20. Valid range: [1-100].
func (r ApiOrder202309OrdersSearchPostRequest) PageSize(pageSize int32) ApiOrder202309OrdersSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiOrder202309OrdersSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiOrder202309OrdersSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiOrder202309OrdersSearchPostRequest) ContentType(contentType string) ApiOrder202309OrdersSearchPostRequest {
    r.contentType = &contentType
    return r
}
// The sort order for the &#x60;sort_field&#x60; parameter. Default: DESC Possible values: - ASC: Ascending order - DESC: Descending order
func (r ApiOrder202309OrdersSearchPostRequest) SortOrder(sortOrder string) ApiOrder202309OrdersSearchPostRequest {
    r.sortOrder = &sortOrder
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiOrder202309OrdersSearchPostRequest) PageToken(pageToken string) ApiOrder202309OrdersSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// The returned results will be sorted by the specified field.  Default: &#x60;create_time&#x60; Possible values: - &#x60;create_time&#x60; - &#x60;update_time&#x60;  Specify the order for sorting the returned results by using the &#x60;sort_order&#x60; parameter.
func (r ApiOrder202309OrdersSearchPostRequest) SortField(sortField string) ApiOrder202309OrdersSearchPostRequest {
    r.sortField = &sortField
    return r
}
// 
func (r ApiOrder202309OrdersSearchPostRequest) ShopCipher(shopCipher string) ApiOrder202309OrdersSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiOrder202309OrdersSearchPostRequest) Order202309GetOrderListRequestBody(order202309GetOrderListRequestBody order_v202309.Order202309GetOrderListRequestBody) ApiOrder202309OrdersSearchPostRequest {
    r.order202309GetOrderListRequestBody = &order202309GetOrderListRequestBody
    return r
}
func (r ApiOrder202309OrdersSearchPostRequest) Execute() (*order_v202309.Order202309GetOrderListResponse, *http.Response, error) {
    return r.ApiService.Order202309OrdersSearchPostExecute(r)
}

/*
Order202309OrdersSearchPost GetOrderList
Returns a list of orders created or updated during the timeframe indicated by the specified parameters. You can also apply a range of filtering criteria to narrow the list of orders returned, such as order status, delivery option type, and buyer user ID.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiOrder202309OrdersSearchPostRequest
*/
func (a *OrderV202309APIService) Order202309OrdersSearchPost(ctx context.Context) ApiOrder202309OrdersSearchPostRequest {
    return ApiOrder202309OrdersSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Order202309GetOrderListResponse
func (a *OrderV202309APIService) Order202309OrdersSearchPostExecute(r ApiOrder202309OrdersSearchPostRequest) (*order_v202309.Order202309GetOrderListResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *order_v202309.Order202309GetOrderListResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrderV202309APIService.Order202309OrdersSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/order/202309/orders/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.sortOrder != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "")
    }
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.sortField != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.order202309GetOrderListRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
