/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/fulfillment/v202407"
)


// FulfillmentV202407APIService FulfillmentV202407API service
type FulfillmentV202407APIService service

type ApiFulfillment202407BundlesPostRequest struct {
    ctx context.Context
    ApiService *FulfillmentV202407APIService
    xTtsAccessToken *string
    contentType *string
    fulfillment202407CreateFirstMileBundleRequestBody *fulfillment_v202407.Fulfillment202407CreateFirstMileBundleRequestBody
}

// 
func (r ApiFulfillment202407BundlesPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiFulfillment202407BundlesPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiFulfillment202407BundlesPostRequest) ContentType(contentType string) ApiFulfillment202407BundlesPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiFulfillment202407BundlesPostRequest) Fulfillment202407CreateFirstMileBundleRequestBody(fulfillment202407CreateFirstMileBundleRequestBody fulfillment_v202407.Fulfillment202407CreateFirstMileBundleRequestBody) ApiFulfillment202407BundlesPostRequest {
    r.fulfillment202407CreateFirstMileBundleRequestBody = &fulfillment202407CreateFirstMileBundleRequestBody
    return r
}
func (r ApiFulfillment202407BundlesPostRequest) Execute() (*fulfillment_v202407.Fulfillment202407CreateFirstMileBundleResponse, *http.Response, error) {
    return r.ApiService.Fulfillment202407BundlesPostExecute(r)
}

/*
Fulfillment202407BundlesPost CreateFirstMileBundle
If you send multiple packages to TikTok Shop warehouse in a single first-mile bundle, you can use the API to create a first-mile bundle on TikTok Shop and get the bundle ID.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiFulfillment202407BundlesPostRequest
*/
func (a *FulfillmentV202407APIService) Fulfillment202407BundlesPost(ctx context.Context) ApiFulfillment202407BundlesPostRequest {
    return ApiFulfillment202407BundlesPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Fulfillment202407CreateFirstMileBundleResponse
func (a *FulfillmentV202407APIService) Fulfillment202407BundlesPostExecute(r ApiFulfillment202407BundlesPostRequest) (*fulfillment_v202407.Fulfillment202407CreateFirstMileBundleResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *fulfillment_v202407.Fulfillment202407CreateFirstMileBundleResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FulfillmentV202407APIService.Fulfillment202407BundlesPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/fulfillment/202407/bundles"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.fulfillment202407CreateFirstMileBundleRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
