/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/product/v202501"
)


// ProductV202501APIService ProductV202501API service
type ProductV202501APIService service

type ApiProduct202501ComplianceManufacturersSearchPostRequest struct {
    ctx context.Context
    ApiService *ProductV202501APIService
    pageSize *int64
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    product202501SearchManufacturersRequestBody *product_v202501.Product202501SearchManufacturersRequestBody
}

// The number of results to be returned per page.  Valid range: [1-100]
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) PageSize(pageSize int64) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) ContentType(contentType string) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    r.contentType = &contentType
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) PageToken(pageToken string) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) Product202501SearchManufacturersRequestBody(product202501SearchManufacturersRequestBody product_v202501.Product202501SearchManufacturersRequestBody) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    r.product202501SearchManufacturersRequestBody = &product202501SearchManufacturersRequestBody
    return r
}
func (r ApiProduct202501ComplianceManufacturersSearchPostRequest) Execute() (*product_v202501.Product202501SearchManufacturersResponse, *http.Response, error) {
    return r.ApiService.Product202501ComplianceManufacturersSearchPostExecute(r)
}

/*
Product202501ComplianceManufacturersSearchPost SearchManufacturers
Retrieve a list of manufacturers in the EU languages supported by TikTok Shop based on their IDs or keyword.
When creating a product, pass the returned `manufacturer_id` to associate the product with the manufacturer.
Target seller: Local sellers operating in EU countries

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202501ComplianceManufacturersSearchPostRequest
*/
func (a *ProductV202501APIService) Product202501ComplianceManufacturersSearchPost(ctx context.Context) ApiProduct202501ComplianceManufacturersSearchPostRequest {
    return ApiProduct202501ComplianceManufacturersSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202501SearchManufacturersResponse
func (a *ProductV202501APIService) Product202501ComplianceManufacturersSearchPostExecute(r ApiProduct202501ComplianceManufacturersSearchPostRequest) (*product_v202501.Product202501SearchManufacturersResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202501.Product202501SearchManufacturersResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202501APIService.Product202501ComplianceManufacturersSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202501/compliance/manufacturers/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202501SearchManufacturersRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest struct {
    ctx context.Context
    ApiService *ProductV202501APIService
    pageSize *int64
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    product202501SearchResponsiblePersonsRequestBody *product_v202501.Product202501SearchResponsiblePersonsRequestBody
}

// The number of results to be returned per page.  Valid range: [1-100]
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) PageSize(pageSize int64) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) ContentType(contentType string) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) PageToken(pageToken string) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) Product202501SearchResponsiblePersonsRequestBody(product202501SearchResponsiblePersonsRequestBody product_v202501.Product202501SearchResponsiblePersonsRequestBody) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    r.product202501SearchResponsiblePersonsRequestBody = &product202501SearchResponsiblePersonsRequestBody
    return r
}
func (r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) Execute() (*product_v202501.Product202501SearchResponsiblePersonsResponse, *http.Response, error) {
    return r.ApiService.Product202501ComplianceResponsiblePersonsSearchPostExecute(r)
}

/*
Product202501ComplianceResponsiblePersonsSearchPost SearchResponsiblePersons
Retrieve a list of responsible persons in the EU languages supported by TikTok Shop based on their ID or keywords.
When creating a product, pass the returned `responsible_person_id` to associate the product with the responsible person.
Target seller: Local sellers operating in EU countries

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest
*/
func (a *ProductV202501APIService) Product202501ComplianceResponsiblePersonsSearchPost(ctx context.Context) ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest {
    return ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202501SearchResponsiblePersonsResponse
func (a *ProductV202501APIService) Product202501ComplianceResponsiblePersonsSearchPostExecute(r ApiProduct202501ComplianceResponsiblePersonsSearchPostRequest) (*product_v202501.Product202501SearchResponsiblePersonsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202501.Product202501SearchResponsiblePersonsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202501APIService.Product202501ComplianceResponsiblePersonsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202501/compliance/responsible_persons/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202501SearchResponsiblePersonsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
