/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/product/v202502"
)


// ProductV202502APIService ProductV202502API service
type ProductV202502APIService service

type ApiProduct202502ProductsSearchPostRequest struct {
    ctx context.Context
    ApiService *ProductV202502APIService
    pageSize *int32
    xTtsAccessToken *string
    contentType *string
    pageToken *string
    shopCipher *string
    product202502SearchProductsRequestBody *product_v202502.Product202502SearchProductsRequestBody
}

// The number of results to be returned per page.  Valid range: [1-100]
func (r ApiProduct202502ProductsSearchPostRequest) PageSize(pageSize int32) ApiProduct202502ProductsSearchPostRequest {
    r.pageSize = &pageSize
    return r
}
// 
func (r ApiProduct202502ProductsSearchPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiProduct202502ProductsSearchPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiProduct202502ProductsSearchPostRequest) ContentType(contentType string) ApiProduct202502ProductsSearchPostRequest {
    r.contentType = &contentType
    return r
}
// An opaque token used to retrieve the next page of a paginated result set. Retrieve this value from the result of the &#x60;next_page_token&#x60; from a previous response. It is not needed for the first page.
func (r ApiProduct202502ProductsSearchPostRequest) PageToken(pageToken string) ApiProduct202502ProductsSearchPostRequest {
    r.pageToken = &pageToken
    return r
}
// 
func (r ApiProduct202502ProductsSearchPostRequest) ShopCipher(shopCipher string) ApiProduct202502ProductsSearchPostRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiProduct202502ProductsSearchPostRequest) Product202502SearchProductsRequestBody(product202502SearchProductsRequestBody product_v202502.Product202502SearchProductsRequestBody) ApiProduct202502ProductsSearchPostRequest {
    r.product202502SearchProductsRequestBody = &product202502SearchProductsRequestBody
    return r
}
func (r ApiProduct202502ProductsSearchPostRequest) Execute() (*product_v202502.Product202502SearchProductsResponse, *http.Response, error) {
    return r.ApiService.Product202502ProductsSearchPostExecute(r)
}

/*
Product202502ProductsSearchPost SearchProducts
Retrieve a list of products that meet the specified conditions. 
This API will only return the key product properties. You can pass a returned product ID to the [Get Product API](https://partner.tiktokshop.com/docv2/page/6509d85b4a0bb702c057fdda) to obtain more details about the product.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiProduct202502ProductsSearchPostRequest
*/
func (a *ProductV202502APIService) Product202502ProductsSearchPost(ctx context.Context) ApiProduct202502ProductsSearchPostRequest {
    return ApiProduct202502ProductsSearchPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Product202502SearchProductsResponse
func (a *ProductV202502APIService) Product202502ProductsSearchPostExecute(r ApiProduct202502ProductsSearchPostRequest) (*product_v202502.Product202502SearchProductsResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *product_v202502.Product202502SearchProductsResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductV202502APIService.Product202502ProductsSearchPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/product/202502/products/search"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.pageSize == nil {
        return localVarReturnValue, nil, reportError("pageSize is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
    if r.pageToken != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "page_token", r.pageToken, "")
    }
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.product202502SearchProductsRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
