/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/supply_chain/v202309"
)


// SupplyChainV202309APIService SupplyChainV202309API service
type SupplyChainV202309APIService service

type ApiSupplyChain202309PackagesSyncPostRequest struct {
    ctx context.Context
    ApiService *SupplyChainV202309APIService
    xTtsAccessToken *string
    contentType *string
    supplyChain202309ConfirmPackageShipmentRequestBody *supply_chain_v202309.SupplyChain202309ConfirmPackageShipmentRequestBody
}

// 
func (r ApiSupplyChain202309PackagesSyncPostRequest) XTtsAccessToken(xTtsAccessToken string) ApiSupplyChain202309PackagesSyncPostRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiSupplyChain202309PackagesSyncPostRequest) ContentType(contentType string) ApiSupplyChain202309PackagesSyncPostRequest {
    r.contentType = &contentType
    return r
}
func (r ApiSupplyChain202309PackagesSyncPostRequest) SupplyChain202309ConfirmPackageShipmentRequestBody(supplyChain202309ConfirmPackageShipmentRequestBody supply_chain_v202309.SupplyChain202309ConfirmPackageShipmentRequestBody) ApiSupplyChain202309PackagesSyncPostRequest {
    r.supplyChain202309ConfirmPackageShipmentRequestBody = &supplyChain202309ConfirmPackageShipmentRequestBody
    return r
}
func (r ApiSupplyChain202309PackagesSyncPostRequest) Execute() (*supply_chain_v202309.SupplyChain202309ConfirmPackageShipmentResponse, *http.Response, error) {
    return r.ApiService.SupplyChain202309PackagesSyncPostExecute(r)
}

/*
SupplyChain202309PackagesSyncPost ConfirmPackageShipment
This API enables a warehouse service provider to send package shipment information for an order. Only warehouse service providers who have been certified by the platform have permission to access this interface.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiSupplyChain202309PackagesSyncPostRequest
*/
func (a *SupplyChainV202309APIService) SupplyChain202309PackagesSyncPost(ctx context.Context) ApiSupplyChain202309PackagesSyncPostRequest {
    return ApiSupplyChain202309PackagesSyncPostRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return SupplyChain202309ConfirmPackageShipmentResponse
func (a *SupplyChainV202309APIService) SupplyChain202309PackagesSyncPostExecute(r ApiSupplyChain202309PackagesSyncPostRequest) (*supply_chain_v202309.SupplyChain202309ConfirmPackageShipmentResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodPost
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *supply_chain_v202309.SupplyChain202309ConfirmPackageShipmentResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyChainV202309APIService.SupplyChain202309PackagesSyncPost")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/supply_chain/202309/packages/sync"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{"application/json"}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    // body params
    localVarPostBody = r.supplyChain202309ConfirmPackageShipmentRequestBody
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
