/*
tiktok shop openapi

sdk for apis

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apis

import (
    "bytes"
    "context"
    "io"
    "net/http"
    "net/url"

    "tiktokshop/open/sdk_golang/models/fulfillment/v202508"
)


// FulfillmentV202508APIService FulfillmentV202508API service
type FulfillmentV202508APIService service

type ApiFulfillment202508TtsTrackingValidationGetRequest struct {
    ctx context.Context
    ApiService *FulfillmentV202508APIService
    trackingNumber *string
    xTtsAccessToken *string
    contentType *string
    shopCipher *string
}

// The tracking number provided by shipping provider
func (r ApiFulfillment202508TtsTrackingValidationGetRequest) TrackingNumber(trackingNumber string) ApiFulfillment202508TtsTrackingValidationGetRequest {
    r.trackingNumber = &trackingNumber
    return r
}
// 
func (r ApiFulfillment202508TtsTrackingValidationGetRequest) XTtsAccessToken(xTtsAccessToken string) ApiFulfillment202508TtsTrackingValidationGetRequest {
    r.xTtsAccessToken = &xTtsAccessToken
    return r
}
// Allowed type: application/json
func (r ApiFulfillment202508TtsTrackingValidationGetRequest) ContentType(contentType string) ApiFulfillment202508TtsTrackingValidationGetRequest {
    r.contentType = &contentType
    return r
}
// 
func (r ApiFulfillment202508TtsTrackingValidationGetRequest) ShopCipher(shopCipher string) ApiFulfillment202508TtsTrackingValidationGetRequest {
    r.shopCipher = &shopCipher
    return r
}
func (r ApiFulfillment202508TtsTrackingValidationGetRequest) Execute() (*fulfillment_v202508.Fulfillment202508TTSTrackingValidationResponse, *http.Response, error) {
    return r.ApiService.Fulfillment202508TtsTrackingValidationGetExecute(r)
}

/*
Fulfillment202508TtsTrackingValidationGet TTSTrackingValidation
Enables a seller or warehouse to validate whether a tracking number is covered by TikTok Shipping (TTS) or Collection by TikTok (CBT). 

Available only in the **US Market**.

@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
@return ApiFulfillment202508TtsTrackingValidationGetRequest
*/
func (a *FulfillmentV202508APIService) Fulfillment202508TtsTrackingValidationGet(ctx context.Context) ApiFulfillment202508TtsTrackingValidationGetRequest {
    return ApiFulfillment202508TtsTrackingValidationGetRequest{
        ApiService: a,
        ctx: ctx,
    }
}

// Execute executes the request
//  @return Fulfillment202508TTSTrackingValidationResponse
func (a *FulfillmentV202508APIService) Fulfillment202508TtsTrackingValidationGetExecute(r ApiFulfillment202508TtsTrackingValidationGetRequest) (*fulfillment_v202508.Fulfillment202508TTSTrackingValidationResponse, *http.Response, error) {
    var (
        localVarHTTPMethod   = http.MethodGet
        localVarPostBody     interface{}
        formFiles            []formFile
        localVarReturnValue  *fulfillment_v202508.Fulfillment202508TTSTrackingValidationResponse
    )

    localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FulfillmentV202508APIService.Fulfillment202508TtsTrackingValidationGet")
    if err != nil {
        return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
    }

    localVarPath := localBasePath + "/fulfillment/202508/tts_tracking_validation"

    localVarHeaderParams := make(map[string]string)
    localVarQueryParams := url.Values{}
    localVarFormParams := url.Values{}
    if r.trackingNumber == nil {
        return localVarReturnValue, nil, reportError("trackingNumber is required and must be specified")
    }
    if r.xTtsAccessToken == nil {
        return localVarReturnValue, nil, reportError("xTtsAccessToken is required and must be specified")
    }
    if r.contentType == nil {
        return localVarReturnValue, nil, reportError("contentType is required and must be specified")
    }

    parameterAddToHeaderOrQuery(localVarQueryParams, "tracking_number", r.trackingNumber, "")
    if r.shopCipher != nil {
    parameterAddToHeaderOrQuery(localVarQueryParams, "shop_cipher", r.shopCipher, "")
    }
    // to determine the Content-Type header
    localVarHTTPContentTypes := []string{}

    // set Content-Type header
    localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
    if localVarHTTPContentType != "" {
        localVarHeaderParams["Content-Type"] = localVarHTTPContentType
    }

    // to determine the Accept header
    localVarHTTPHeaderAccepts := []string{"application/json"}

    // set Accept header
    localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
    if localVarHTTPHeaderAccept != "" {
        localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
    }
    parameterAddToHeaderOrQuery(localVarHeaderParams, "x-tts-access-token", r.xTtsAccessToken, "")
    parameterAddToHeaderOrQuery(localVarHeaderParams, "Content-Type", r.contentType, "")
    req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
    if err != nil {
        return localVarReturnValue, nil, err
    }

    localVarHTTPResponse, err := a.client.callAPI(req)
    if err != nil || localVarHTTPResponse == nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
    localVarHTTPResponse.Body.Close()
    localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
    if err != nil {
        return localVarReturnValue, localVarHTTPResponse, err
    }

    if localVarHTTPResponse.StatusCode >= 300 {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: localVarHTTPResponse.Status,
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
    if err != nil {
        newErr := &GenericOpenAPIError{
            body:  localVarBody,
            error: err.Error(),
        }
        return localVarReturnValue, localVarHTTPResponse, newErr
    }

    return localVarReturnValue, localVarHTTPResponse, nil
}
